{{#if editing}}
    <td>{{input value=title}}</td>
    <td>{{input value=yearReleased}}</td>
    <td>{{input value=length}}</td>
    <button {{action "saveMovie" id}}>Save</button>
{{else}}
    <td>{{title}}</td>
    <td>{{yearReleased}}</td>
    <td>{{length}}</td>
    <button {{action "editMovie"}}>Edit</button>
{{/if}}
<button {{action "deleteMovie" id}}>X</button>