{{#if editing}}
    <td>{{input value=movie.title}}</td>
    <td>{{input value=movie.yearReleased}}</td>
    <td>{{input value=movie.length}}</td>
    <td>
        <ul>
            {{#each movie.usersWatched as |user|}}
                <li>
                    {{user.name}}<button {{action "removeUserFromMovie" movie user}}>X</button>
                </li>
            {{/each}}
        </ul>
    </td>
    <button {{action "saveMovie" movie}}>Save</button>
{{else}}
    <td>{{movie.title}}</td>
    <td>{{movie.yearReleased}}</td>
    <td>{{movie.length}}</td>
    <td>
        <ul>
            {{#each movie.usersWatched as |user|}}
                <li>{{user.name}}</li>
            {{/each}}
        </ul>
    </td>
    <button {{action "editMovie"}}>Edit</button>
{{/if}}
<button {{action "deleteMovie" movie.id}}>X</button>