{{#if editing}}
    <td>{{input value=name}}</td>
    <td><button {{action "saveUser" id}}>Save</button></td>
{{else}}
    <td>{{name}}</td>
    <td><button {{action "editUser"}}>Edit</button></td>
{{/if}}
<td><button {{action "deleteUser" id}}>X</button></td>