{{outlet}}
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Length</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |movieRecord|}}
            {{movie-listing title=movieRecord.title yearReleased=movieRecord.yearReleased length=movieRecord.length id=movieRecord.id}}
        {{/each}}
        <tr>
            <td>{{input value=title placeholder="Title"}}</td>
            <td>{{input value=yearReleased placeholder="Year"}}</td>
            <td>{{input value=length placeholder="Length"}}</td>
            <button {{action "addMovie"}}>+</button>
        </tr>
    </tbody>
</table>