{{outlet}}
<div class="container">
    {{#each movies as |movieRecord|}} 
        <div class="row">
            {{movie-listing movie=movieRecord users=users}}
        </div>
    {{/each}}
</div>
<table>
    <tbody>

        <tr>
            <td>{{input value=title placeholder="Title"}}</td>
            <td>{{input value=yearReleased placeholder="Year"}}</td>
            <td>{{input value=length placeholder="Length"}}</td>
            <button {{action "addMovie"}}>+</button>
        </tr>
    </tbody>
</table>