{{outlet}}
{{#each movies as |movieRecord|}} 
    {{movie-listing movie=movieRecord users=users}}
{{/each}}
<table>
    <tbody>

        <tr>
            <td>{{input value=title placeholder="Title"}}</td>
            <td>{{input value=yearReleased placeholder="Year"}}</td>
            <td>{{input value=length placeholder="Length"}}</td>
            <button {{action "addMovie"}}>+</button>
        </tr>
    </tbody>
</table>